<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.danikula.android.garden.ui"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="4" />

    <!-- Set of ui usefull components. Compatible with api level 4 -->
    <application android:label="android-garden-ui" >
    </application>

</manifest>